//Header
#header {
  position: fixed;
  z-index: 90;
  top: 0;
  box-shadow: 0 2px 6px grey;
  background-color: white;
  left: 0;
  width: 100%;
}

//Navigation
.navBloc{
  padding: 20px 15%;
  .catDiv{
    text-align: center;
    .catBtn{
      padding: 20px 30px;
      border-radius: 10px;
      border: 1px solid #bf1531;
      color: white;
      font-weight: bold;
      cursor: pointer;
      background-size: cover;
      background-position-y: center;
    }
    @media screen and (max-width: 992px) {
      .catBtn{
        padding: 10px 15px;
      }
    }
    .catBtn:hover{
      color: #bf1531;
    }
  }
}
@media screen and (max-width: 992px) {
  .navBloc{
    padding: 20px 5%;
  }
}

//product list
.productsBloc{
  padding: 20px 10%;
  .prodDiv{
    text-align: center;
    margin: 20px 0;
    .prodImg{
      margin: 0 auto;
      height: 250px;
      width: 250px;
      border: 2px solid #bf1531;
      cursor: pointer;
      .addCart{
        display: none;
        padding-top: 20px;
      }
    }
    .prodImg:hover{
      .layer{
        background-color: rgba(64, 18, 18, 0.85);
        width: 100%;
        height: 100%;
        .addCart{
          display: block;
          color: red;
          font-size: 50px;
        }
      }
    }
    .prodDetail{
      width: 250px;
      margin: 0 auto;
      align-items: baseline;
    }
    .name{
      text-align: left;
      padding-top: 5px;
    }
    .price{
      padding: 5px 0;
      border: 2px solid #bf1531;
      border-top: none;
      border-radius: 0 0 5px 5px;
    }
  }
}

//Toast
.toast-container{
  .toast{
    padding: 15px 15px 15px 15px;
  }
  .toast-error {
    background-image: none !important;
  }
}

