<header>
  <app-header [cart]="cart" [totProd]="totProduct" id="header"></app-header>
</header>

<nav id="nav">
  <div class="row navBloc">
    <div *ngFor="let cat of menu.categories" class="col-4 catDiv">
      <button class="catBtn" value="cat.name" [style.backgroundImage]="'url('+cat.image +')'" (click)="changeCategory(cat.name)">{{cat.name}}</button>
    </div>
  </div>
</nav>

<main id="content">
  <div class="row productsBloc">
    <div class="col-xl-4 col-lg-6 col-12 prodDiv" *ngFor="let product of products">
      <div class="prodImg" [style.backgroundImage]="cleanUrl(product.image)" title="Ajouter au panier">
        <div class="layer" (click)="addCart(product)">
          <i class="fa fa-cart-plus addCart"></i>
        </div>
      </div>
      <div class="row prodDetail">
        <div class="col-8 name">{{product.name}}</div>
        <div class="col-4 price">{{product.price + ' €'}}</div>
      </div>
    </div>
  </div>
</main>
