.headerBtn{
  font-weight: bold;
  color: #bf1531;
   background: none;
  cursor: pointer;
  border: none;
  margin: 0 10px;
  padding: 5px 20px;
 }
.headerBtn:hover{
  color: #961526;
}
.cartDiv{
  cursor: pointer;
  .cart{
    color: #bf1531;
    font-size: 20px;
  }
  .nbProd{
    background-color: #bf1531;
    color: white;
    border-radius: 10px;
    padding: 2px 6px;
    margin-right: 5px;
  }
}
.cartDiv:hover{
  .cart{
    color: #961526;
  }
  .nbProd{
    background-color: #961526;
  }
}

