.headerBtn{
  font-weight: bold;
  color: #ec4848;
   background: none;
  cursor: pointer;
  border: none;
  margin: 0 10px;
  padding: 5px 20px;
 }
.headerBtn:hover{
  color: #812c2c;
}
.cart{
  color: #bf1531;
  font-size: 20px;
}
